{% extends "@FollowMeBundle/Resources/views/base.html.twig" %}

{% block title %}Ajouter une activité{% endblock %}

{% block body %}

<h1 style="text-align: center">Ajouter une activité</h1>

{{ form_start(form, { "attr": { "novalidate": "novalidate"}} ) }}

{% include "@FollowMeBundle/Resources/views/form/sign_errors.html.twig" %}




{% if is_granted('ROLE_SUPER_ADMIN') %}

You have ROLE_SUPER_ADMIN

{% endif %}

<br />

<div class="input-group">
	{{ form_errors(form.dating_title) }}
    {{ form_label(form.dating_title) }}
 </div>

<div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
    {{ form_widget(form.dating_title) }}
</div>

<br />

<div class="input-group">
	{{ form_errors(form.dating_description) }}
    {{ form_label(form.dating_description) }}
 </div>

<div class="input-group"> 
    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
    {{ form_widget(form.dating_description) }}  
</div>

<br />

<div class="row">
    <div class="col-xs-6">
	{{ form_errors(form.dating_start) }}
    {{ form_label(form.dating_start) }}
    {{ form_widget(form.dating_start) }}
    </div>
    <div class="col-xs-6">
	{{ form_errors(form.dating_end) }}
    {{ form_label(form.dating_end) }}
    {{ form_widget(form.dating_end) }}
    </div>
</div>

<br />

<div class="input-group">
	{{ form_errors(form.dating_link_href) }}
    {{ form_label(form.dating_link_href) }}
 </div>

<div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
    {{ form_widget(form.dating_link_href) }}
</div>

<br />

<div class="input-group">
	{{ form_errors(form.dating_link_title) }}
    {{ form_label(form.dating_link_title) }}
 </div>

<div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
    {{ form_widget(form.dating_link_title) }}
</div>

<br />

<div class="input-form">
	<button class="btn btn-success">{{"add.btn"|trans|capitalize }}</button>
</div>

{{ form_end(form) }}

{% endblock %}
